
.bookForm {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    margin-top: 5%;
    width: 400px;
    height: 600px;
    padding-top: 10px;
    background-color: #da7b10;
    border-radius: 10px;
    text-align: center;
    z-index: 11;
    color: white;
    font-size: 30px;
}
.dFlex {
    display: flex;
    justify-content: center;
}

body {
    position: relative;
    font-family: 'Source Sans Pro';
    margin: 0;
    padding: 0;
    background: #000000;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}
.inputBox {
    border: 1px solid black;
    width: 300px;
    font-size: 20px;
    height: 30px;
    padding-left: 10px;
}
.authorDiv {
    font-size: 20px;
    background-color: rgb(255, 155, 23);
    color: rgb(0, 0, 0);
    width: 45%;
    padding-bottom: 10px;
    margin-top: 15px;
    padding-left: 20px;
    padding-top: 15px;
}
#inputCont {
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}
.navbar {
    border-bottom: 4px solid rgb(255, 155, 23);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 40px;
}
.addBook {
    background-color: rgb(255, 155, 23);
    border: 1px solid white;
    padding: 8px;
    margin-top: 3px;
    margin-left: 20px;
}
.Footer {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 155, 23);
    margin-top: 40px;
    left: 0;
    bottom: 0;
    position: fixed;
}
.myName {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: 'Source Sans Pro';
    margin-right: 22%;
    padding-top: 15px;
    float: right;
}
.navTitle {
    float: right;
    font-size: 20px;
    color: white;
    padding-top: 5px;
    margin-right: 20%;
}
.delBttn {
    background-color: rgb(255, 181, 83);
    border: 1px solid white;
    padding: 8px;
    margin-top: 10px;
    text-align: right;
}
@media only screen and (max-width: 1200px) {
    #inputCont {
        margin-left: 15px;
        margin-right: 15px;
    }
}